
@charset "utf-8";


:root{
  --background-dark: rgb(24,23,32);
  --font-text: rgb(255, 255, 255);
  --box-width: 360px;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

body {
  background-color: var(--background-dark);
  font-family: "Open Sans", sans-serif,'Arial','Helvetica';
  display: flex;
  justify-content: center;
}



/*------------------------------------------*/
/*              Display                     */
/*------------------------------------------*/

body { 
  margin: 0; 
  padding: 0; 
}

#map { 
  position: absolute; 
  top: 0; 
  bottom: 0; 
  width: 50%; 
}

/*------------------------------------------*/
/*              Button                      */
/*------------------------------------------*/

button {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 10%;
}





/*------------------------------------------*/
/*              Utility                     */
/*------------------------------------------*/


.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.center {
  align-content: center;
}


