
@charset "utf-8";

:root{
  --background-dark: rgb(24,23,32);
  --font-text: rgb(255, 255, 255);
  --box-width: 360px;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
  display: grid;
}

body {
  background-color: var(--background-dark);
  font-family: "Open Sans", sans-serif,'Arial','Helvetica';
  display: grid;
  place-items: center;

}



/*------------------------------------------*/
/*              Header                      */
/*------------------------------------------*/

header {
  display: flex;
  height: 56px;
  width: 90%;
  justify-content: space-between;
  color: #fff;
  position: relative;
}

nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

header nav ul {
  display: flex;
  font-size: 20px;
  gap: 10px;
}

nav button {
  height: 40px;
  width: 70px;
  border-radius: 5px;
  color: #fff;
  background-color: #318ce7;
}

/*------------------------------------------*/
/*              Main                        */
/*------------------------------------------*/

.description {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

#tracker {
  width: 120px;
  height: 60px;
  border-radius: 5px;
  background-color: #318ce7;
  color: #fff;
  font-weight: 500;
}

.description h2 {
  color: #fff;
}

p {
  color: #fff;
  display: flex;
  width: 55%;
}

#map { 
  top: 10px; 
  bottom: 0; 
  width: 100%;
  height: 600px;
  border-radius: 5px;
}

/*------------------------------------------*/
/*              promotions                  */
/*------------------------------------------*/

.promotions {
  margin-top: 30px;
  color: #fff;
  display: grid;
  justify-content: center;
}

.promotions h2 {
  place-self: center;
}

.images {
  margin-top: 20px;
  display: flex;
  gap: 40px;
}

.images img {
  width: 250px;
}

/*------------------------------------------*/
/*              Footer                      */
/*------------------------------------------*/

footer {
  color: #fff;
  margin-top: 30px;
  height: 60px;
  display: flex;
  width: 90%;
  justify-content: space-between;
}

.contact {
  display: flex;
}

.contact h2 {
  font-size: 30px;
}

#icons {
  gap: 30px;
  display: flex;
  margin-top: 9px;
  margin-left: 12px;
}

#icons a {
  font-size: 25px;
  color: #318ce7;
}

footer p {
  display: flex;
  justify-content: flex-end;
}

/*------------------------------------------*/
/*              Utility                     */
/*------------------------------------------*/


.space-around {
  justify-content: space-around;
}

.space-evenly {
  justify-content: space-evenly;
}

.space-between {
  justify-content: space-between;
}

.flex {
  display: flex;
}

.center {
  align-content: center;
} 